#Ide Config
.idea

#Dependency directory
node_modules

#Bower pack
client/bowerLib/*
!client/bowerLib/bower.md

#Webpack create
client/javascript/dist/*
!client/javascript/dist/dist.md

#Npm debug
npm-debug.log
