<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>rewatch</title>

	<!-- bootstrap -->
	<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" type="text/css" media="all">
<body>

	<div class="jumbotron">
		<h1>React-Redux-Todos</h1>
	</div>

	<div class="container">
		<div class="body" id="react-redux-todos">

		</div>
	</div>


	<div class="jumbotron">
		<h1>React-Redux-Counter</h1>
	</div>

	<div class="container">
		<div class="body" id="react-redux-counter">

		</div>
	</div>



	<div class="jumbotron">
		<h1>React-Router</h1>
	</div>

	<div class="container">
		<div class="body" id="react-router">

		</div>
	</div>

	<div class="jumbotron">
		<h1>TodoList</h1>
		<p>with flux of the react...</p>
	</div>

	<div class="row">
		<div class="alert alert-info" role="alert">
			<ul>
				<li>1.美妙的是Input/Button/Li是通用的组件,在该组件上可以使用类似bootstrap的样式</li>
				<li>2.元素中的data-name属性在组件中默认采用dataName的命名方式</li>
			</ul>
		</div>

		<div class="alert alert-danger" role="alert">
			<ul>
				<li>1.如果Button放在一个form中千万要注意指定type,否则会有意想不到的结果哦</li>
			</ul>
		</div>
	</div>


	<div class="container">
		<div class="body" id="list-to-do-flux">

		</div>
	</div>

	<br/>



	<div class="jumbotron">
		<h1>TodoList</h1>
		<p>with no flux and react-router of the react...</p>
	</div>

	<div class="row">
		<div class="alert alert-info" role="alert">
			<ul>
				<li>1.添加组件AddList,ShowDelList</li>
				<li>2.设置显示的state属性lists并传递给两个子组件,一旦该属性变化重新渲染TodoList组件(Diff算法)</li>
				<li>3.ShowDelList组件根据lists属性显示列表</li>
				<li>4.设置可控表单的显示属性list,传递给子组件AddList(value={this.props.list}就变成可控了,除非setState,否则表单不会变化)</li>
				<li>5.在AddList中设置可控输入input表单数据,使input不能有空格以及数据长度不能超过10</li>
				<li>6.设置添加事件,添加inputValue到lists并重新渲染</li>
				<li>7.设置删除事件</li>
			</ul>
		</div>


		<div class="alert alert-danger" role="alert">
			<ul>
				<li>1.打包以后this指向发生了变化,任何地方都需要使用this.props.name.bind(this)</li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="body" id="list-to-do">

		</div>
	</div>

   <!-- jQuery -->
   <script src="/lib/jquery/jquery.min.js"></script>
   <!-- bootstrap -->
   <script src="/lib/bootstrap/bootstrap.min.js"></script>
   <!-- react -->
   <script src="/lib/react/react.min.js"></script>
   <!-- react-dom -->
   <script src="/lib/react/react-dom.min.js"></script>
   <!-- common.js -->
   <script src="/js/common.js"></script>
   <!-- index.js -->
   <script src="/js/index.js"></script>
   <!-- index.js - flux-->
   <script src="/js/flux_index.js"></script>
   <!-- index.js - router-->
   <script src="/js/router_index.js"></script>
	<!-- index.js - redux-->
	<script src="/js/redux_index.js"></script>
</body>
</html>


